<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Bildirimler için titreşim izni -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- İnternet izni (gerekirse) -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" /> <!-- Bildirim politikalarına erişim izni -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KaloriTakipUygulamasi"
        tools:targetApi="31">
        <activity
            android:name=".OgunCrudActivity"
            android:exported="false" />
        <activity
            android:name=".BesineklemeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".AnaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".IlkKayitActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>